<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채팅서버</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/chatbox.css">
    <link rel="stylesheet" href="/app.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/app.js"></script>
</head>
<body>
    <div class="container">
        <div class="menu-box">
            <div id="chat">
                <div id="msgBox">
                    <!-- <div class="msg">어서오세요</div>
                    <div class="msg my">안녕하세요</div> -->
                </div> 
                <div id="inputBox">
                    <input type="text" id="msg" autocomplete="off">
                    <button id="btnSend">ENTER</button>
                </div>
            </div>
            <div id="userList">
                <div class="user my">User1</div>
            </div>
        </div>
        
    </div>
    <div id="popup">
        <div class="inner">
            <div class="inner_header"><h2>Wellcome!</h2></div>
            <input type="text" id="nickname" placeholder="Enter your name." autocomplete="off">
            <button id="btnLogin">ENTER</button>
        </div>
    </div>
</body>
</html>